<template>
  <ul>
    <li v-for="mission in sortedList" :key="mission._id">
      <div>
        <h3>{{mission.type}}</h3>
        <div>HR {{mission.hr}}</div>
      </div>
      <p>玩家 {{mission.psn}} ( {{mission.phr}} )</p>
      <span>{{timeCheck(mission.createdAt)}}</span>
    </li>
  </ul>
</template>

<script>
  // import * as date from 'moment/src/moment'
  // import hk from 'moment/locale/zh-hk'
  // date.locale('hk')

  import * as date from 'moment-mini-ts'
  import * as _ from 'lodash'

  export default {
    methods: {
      timeCheck(time) {
        return date(time).fromNow()
      },
      // typeFilter(type) {
      //   return _.filter(this.sortedList, {'type': type})
      // }
    },
    computed: {
      sortedList() {
        return _.orderBy(this.$store.state.missions, ['createdAt'], ['desc'])
      }
    }
  }

</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    li {
      padding: 20px;
      border: 1px solid $light;
      span {
        font-size: 1rem;
        color: lighten($dark, 50%);
      }
    }
  }

  @media (max-width: $mobile) {
    ul {
      grid-template-columns: 1fr;
    }
  }

</style>
