<template>
  <section :class="{open: $store.state.createMission === true}">
    <div class="close" @click="$store.dispatch('closeAll')">
      <span></span>
      <span></span>
    </div>
    <div class="btn" @click="createMission">發佈任務</div>
    <div class="form">
      <label>
        <span>頻道ID</span>
        <input type="text" v-model="roomID" placeholder="ID">
      </label>
      <label>
        <span>要求HR</span>
        <input type="number" v-model="hr" min="1" placeholder="HR">
      </label>
      <label>
        <span>你的HR</span>
        <input type="number" v-model="phr" min="1" placeholder="HR">
      </label>
      <label>
        <span>你的PSN</span>
        <input type="text" v-model="psn" min="12" max="12" placeholder="PSN">
      </label>
      <label>
        <span>任務類型</span>
        <select v-model="type" placeholder="任務類型">
          <option value="任務" selected>任務</option>
          <option value="自由任務">自由任務</option>
          <option value="調查任務">調查任務</option>
          <option value="活動">活動</option>
          <option value="探索">探索</option>
          <option value="鬥技場">鬥技場</option>
        </select>
      </label>
      <label>
        <span>狩獵目標</span>
        <input type="text" v-model="target" placeholder="狩獵目標">
      </label>

      <label>
        <span>任務難度 ★{{difficulty}}</span>
        <input type="range" min="1" max="9" v-model="difficulty" placeholder="難度"></label>
      <label>
        <span>備註</span>
        <input type="text" v-model="msg" placeholder="刷玉/刷珠/刷石">
      </label>
    </div>
  </section>
</template>

<script>
  //   import VeeValidate from 'vee-validate'
  import axios from '~/plugins/axios'

  export default {
    data() {
      return {
        roomID: null,
        hr: 0,
        phr: 0,
        psn: null,
        type: null,
        target: null,
        difficulty: 0,
        msg: null
      }
    },
    methods: {
      async createMission() {
        await axios.post('missions', {
            room: this.roomID,
            hr: this.hr,
            phr: this.phr,
            psn: this.psn,
            target: this.target,
            difficulty: this.difficulty,
            type: this.type,
            msg: this.msg
          })
          .catch(e => {
            console.log(e)
          })
        await this.$store.dispatch('closeAll')
        await this.$store.dispatch('getMissions')
        if ($nuxt.$route.path !== '/mission') {
          await this.$router.push({
            path: '/mission'
          })
        }
      }
    }
  }

</script>

<style lang="scss" scoped>
  section {
    position: fixed;
    top: -80%;
    padding: 40px 20px 20px;
    // width: 500px;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
    background: #ffffff;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: .2);
    .form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      label {
        padding: 10px;
      span {
        font-size: 1.1rem;
        color: $dark;
        display: block;
      }
      input {
        padding: 5px;
      }
      }
    }
    &.open {
      top: 10%;
    }
    .btn {
      width: 50%;
      margin: 10px auto;
    }
    .close {
      cursor: pointer;
      display: block;
      padding: 15px;
      width: 24px;
      height: 24px;
      transition: all .5s ease;
      position: absolute;
      top: 0;
      right: 0;
      span {
        display: block;
        background: $dark;
        height: 2px;
        border-radius: 3px;
        transition: all .5s ease;
      }
      span:first-child {
        transform-origin: 0%;
        transform: translateX(1px) rotate(45deg);
        margin: 0;
      }
      span:last-child {
        transform-origin: 0%;
        transform: translateY(15px) rotate(-45deg);
      }
      &:hover {
        span {
          background: lighten($dark, 50%)
        }
      }
    }
  }

  @media (max-width: $mobile) {
    section {
      width: 90vw;
      height: 90vh;
      right: 0px;
      top: -200%;
      left: 0;
      transform: none;
      overflow-y: scroll;
      .form {
        grid-template-columns: 1fr;
      }
      &.open {
        top: 0px;
      }

    }
  }

</style>
