$titleFont: 'Slabo 27px',
serif;
$contentFont: 'Source Sans Pro',
sans-serif;
$dark: rgb(48, 57, 65);
$light: #dddddd;
$theme: #76d8e7;
$mobile: 767px;
$tablet: 1025px;
$desktop: 1200px;
$side-width: 180px;
$side-padding: 10px;
p,
li,
h1,
h2,
h3,
a,
div,
section,
fieldset {
  font-size: 1.4rem;
  color: $dark;
  font-family: $titleFont;
  text-rendering: auto;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}

input,
select, {
  padding: 0 10px;
  resize: none;
  &:focus {
    outline: none;
    background: $light;
    font-size: 1.4rem;
  }
}

h1,
h2,
h3 {
  letter-spacing: 1.8px; // text-transform: lowercase;
  font-family: $titleFont;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
  margin: 1.2rem 0 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}

article {
  ul {
    list-style: square;
    padding: 15px 20px;
  }
}

a {
  color: $dark;
  &:hover {
    color: darken($dark, 20%);
  }
}

.btn {
  background: $theme;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  margin: 0 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: auto;
  &:hover {
    background: darken($theme, 30%);
    color: #ffffff;
  }
}

.container {
  // background: url(~/assets/img/bg.svg) repeat-x #ffffff;
  background: #ffffff;
  background-size: 20px;
  padding: 10px 20px;
  // overflow: auto;
  transition: .5s;
  min-height: 100%;
  // z-index: 11;
}

@media (max-width: $mobile) {
  .container {
    padding: 70px 20px 10px;
  }
}

// Animation Effect
.fade-enter-active,
.fade-leave-active {
  transition: .8s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@keyframes slidedown {
  0% {
    top: -500px;
  }
  20% {
    top: -500px;
  }
  100% {
    top: 0px;
  }
}
