<template>
  <div id="app">
    <page-header/>
    <transition name="fade">
      <nuxt />
    </transition>
    <div class="wrapper" :class="{out: $store.state.createMission || $store.state.sideMenu === true}" @click="$store.dispatch('closeAll')"></div>
    <sidebar/>
    <burger/>
    <new-mission/>
  </div>
</template>

<script>
  import PageHeader from '~/components/commons/Header'
  import Navbar from '~/components/commons/Navbar'
  import Sidebar from '~/components/commons/Sidebar'
  import NewMission from '~/components/missions/NewMission'
  import Burger from '~/components/commons/Burger'

  export default {
    components: {
      PageHeader,
      Navbar,
      Sidebar,
      NewMission,
      Burger
    }
  }

</script>

<style lang="scss" scoped>
  #app {
    position: relative;
    .wrapper {
      background: #000000;
      opacity: 1;
      display: none;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .out {
      display: block;
      opacity: .5;
    }
  }

</style>
