<template>
  <article class="container">
    <h1>簡介</h1>
    <p>我們是一群鐘意打機升Lv的廢青</p>
    <p>本網站只為方便獵人們找隊伍</p>
    <p>如本網有任何侵權行為請與我們聯絡</p>
    <h2>版本更新</h2>
    <version/>
  </article>
</template>

<script>
  import version from '~/components/commons/Version'
  export default {
    components: {
      version
    }
  }

</script>



<style lang="scss" scoped>
  .container {
    text-align: center;
    h2 {
      margin-top: 50px;
    }
  }

</style>
