<template>
  <section class="container">
    <article>
      <h1>教學</h1>
      <p>本網站主要是提供遊戲內置組隊功能以外找到更準確隊友的方法，希望為單機的朋友找到更為合適的隊友</p>
      <p>
        <a href="http://monsterhunterworld.com/hk/" target="_blank" rel="noopener noreferrer">
          Monster Hunter World 官方網站
        </a>
      </p>
      <p>
        <a href="http://game.capcom.com/manual/MHW/zh-hant/ps4" target="_blank" rel="noopener noreferrer">官方操作教學手冊</a>
      </p>
    </article>
    <div class="start">
      <new-btn/>
      <nuxt-link class="btn" to="/mission">參加任務</nuxt-link>
    </div>
    <div class="start">
      <img src="~/assets/img/icon/anjanath.svg" alt="蠻顎龍">
      <img src="~/assets/img/icon/kadachi.svg" alt="飛雷龍">
      <img src="~/assets/img/icon/rathalos.svg" alt="雄火龍">
      <img src="~/assets/img/icon/xeno-jiiva.svg" alt="冥燈龍">
    </div>

  </section>
</template>

<script>
  import NewBtn from '~/components/commons/NewMissionBtn'

  export default {
    name: 'index',
    components: {
      NewBtn
    }
  }
</script>

<style lang="scss" scoped>
  .container {
    text-align: center;
    .start {
      display: flex;
      flex: 1 1 0;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
    }
  }

  @media (max-width: $mobile) {
    .start {
      max-width: 100%;
      justify-content: flex-start;
    }
  }

</style>
