<template>
  <section class="container">
    <h1>任務</h1>
    <div class="tools-bar">
      <new-btn>招募隊員</new-btn>
      <!-- <div class="btn" @click="$forceUpdate()">更新列表</div> -->
      <!-- <div class="items">任務總數 {{counter}}</div> -->
    </div>
    <list/>
  </section>
</template>

<script>
  import {
    mapGetters,
    mapMutations,
    mapActions,
    mapState
  } from 'vuex'
  import List from '~/components/missions/MissionList'
  import NewBtn from '~/components/commons/NewMissionBtn'

  // import Pagination from '~/components/missions/Pagination'

  export default {
    name: 'mission',
    components: {
      List,
      NewBtn
    },
    async fetch({
      store
    }) {
      await store.dispatch('getMissions')
    }
  }

</script>

<style lang="scss" scoped>
  section {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0 50px;
    .tools-bar {
      display: flex;
      flex-wrap: nowrap;
      padding: 10px 0;
      .items {
        padding: 10px;
      }
    }
  }

</style>
