<template>
  <div @click="$store.commit('toggleSideMenu')" :class="{close: sideMenu === false}" class="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</template>

<script>
  import {
    mapState
  } from 'vuex'

  export default {
    computed: mapState(['sideMenu'])
  }

</script>

<style lang="scss" scoped>
  .burger {
    cursor: pointer;
    display: block;
    padding: 15px;
    width: 25px;
    height: 25px;
    background: lighten($theme, 100%);
    transition: all .5s ease;
    position: fixed;
    // border-bottom-right-radius: 26px;
    top: 0;
    left: 0;
    span {
      display: block;
      background: $dark;
      height: 2px;
      margin: 7px 0 0;
      border-radius: 3px;
      transition: all .5s ease;
    }
    span:first-child {
      transform-origin: 0%;
      transform: translateX(1px) rotate(45deg);
      margin: 0;
    }
    span:nth-child(2) {
      // width: 20px;
      transform: translateX(-100px);
    }
    span:last-child {
      transform-origin: 0%;
      transform: translateX(0px) rotate(-45deg);
    }
    &:hover {
      span {
        background: lighten($dark, 50%)
      }
    }
    &.close {
      border-bottom-right-radius: 0;
      background: lighten($theme, 10%);
      span:first-child {
        transform: rotate(0deg);
      }
      span:nth-child(2) {
        width: 19px;
        transform: translateX(0px);
      }
      span:last-child {
        transform: rotate(0deg);
      }
      &:hover {
        background: $theme;
        span {
          background: $dark;
        }
      }
    }
  }

</style>
