<template>
  <footer>
    <ul>
      <li>
        &copy 2018
        <a href="https://singlv.com" target="_blank">singlv.com</a>
      </li>
      <li>
        <nuxt-link to="/about">關於我們</nuxt-link>
      </li>
    </ul>

  </footer>
</template>

<style lang="scss" scoped>
  footer {
    display: block;
    text-align: center;
    padding: 20px 0;
    bottom: 10px;
    ul {
      li {
        font-size: 1rem;
        color: darken($light, 20%);

        a {
          font-size: 1rem;
          color: darken($light, 20%);
        }
      }
    }
  }

</style>
