<template>
  <header>
    <div class="name">
      <nuxt-link to="/">Monster Hunter World</nuxt-link>
    </div>
    <searchbar/>
  </header>
</template>

<script>
  import Navbar from '~/components/commons/Navbar'
  import Searchbar from '~/components/commons/Searchbar'

  export default {
    components: {
      Navbar,
      Searchbar
    }
  }

</script>

<style lang="scss" scoped>
  header {
    height: 55px;
    width: 100%;
    border-bottom: 1px solid $light;
    display: flex;
    position: sticky;
    background: #ffffff;
    .name {
      margin: 0 auto;
      a {
        padding: 0 20px;
        font-size: 2.5rem;
        line-height: 55px;
        font-family: $titleFont;
        text-decoration: none;
        color: $dark;
        &:hover {
          color: darken($dark, 20%);
        }
      }
    }
  }

  @media (max-width: $mobile) {
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      // z-index: 10;
    }
  }

</style>
