<template>
  <div id="logo">
      <img src="~/assets/img/logo.jpg" />
  </div>
</template>

<style lang="scss" scoped>
 #logo {
    //  width: 40px;
     margin: 12px 30px 0;
     img {
         width: 100%;
     }
 }
</style>

