<template>
  <nav role="navigation" aria-label="main navigation">
    <ul>
      <li>
        <nuxt-link class="btn" to="/">首頁</nuxt-link>
      </li>
      <li>
        <nuxt-link class="btn" to="/mission">任務</nuxt-link>
      </li>
      <!-- <li>
        <nuxt-link class="btn" to="/free">自由任務</nuxt-link>
      </li>
      <li>
        <nuxt-link class="btn" to="/investigate">調查任務</nuxt-link>
      </li>
      <li>
        <nuxt-link class="btn" to="/event">活動</nuxt-link>
      </li>
      <li>
        <nuxt-link class="btn" to="/explore">探索</nuxt-link>
      </li> -->
    </ul>
  </nav>
</template>

<script>
  export default {

  }

</script>

<style lang="scss" scoped>
  nav {
    ul {
      li {
        margin: 10px 0;
        font-size: 2rem;
      }
    }
  }

</style>
