<template>
  <div id="search">
    <input type="text" placeholder="輸入目標">
    <div class="search-btn">
      <img src="~/assets/img/search.svg" alt="">
    </div>

  </div>
</template>


<style lang="scss" scoped>
  #search {
    display: flex;
    border-left: 1px solid $light;
    position: absolute;
    right: 0;
    top: 0;
    input {
      border: none;
      height: 55px;
      line-height: 55px;
      min-width: 200px;
    }
    div {
      width: 30px;
      height: 30px;
      padding: 10px;
    }
  }

@media (max-width: $mobile) {
  #search {
    display: none;
  }
}

</style>
