<template>
  <section :class="{close: $store.state.sideMenu === false}">
    <logo/>
    <new-btn/>
    <navbar/>
    <page-footer/>
  </section>
</template>

<script>
  import Navbar from '~/components/commons/Navbar'
  import Logo from '~/components/commons/Logo'
  import NewBtn from '~/components/commons/NewMissionBtn'
  import PageFooter from '~/components/commons/Footer'


  export default {
    components: {
      Navbar,
      NewBtn,
      PageFooter,
      Logo
    }
  }

</script>

<style lang="scss" scoped>
  section {
    width: 180px;
    height: 100%;
    position: fixed;
    background: #ffffff;
    padding: $side-padding;
    left: 0;
    top: 0;
    // border-right: 1px solid $light;
    transition: .5s;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: .3);

    &.close {
      margin-left: -200px;
          box-shadow: 0 0 0 rgba($color: #000000, $alpha: .3);

    }
  }

</style>
