<template>
  <section>
    <dl>
      <dt>v0.4.2</dt>
      <dd>任務由最接近時間開始排序</dd>
      <dt>v0.4.1</dt>
      <dd>改良 Responsive 效果</dd>
      <dt>v0.4.0</dt>
      <dd>API 開始測試</dd>
      <dt>v0.3.2</dt>
      <dd>初步完成 mobile layout</dd>
      <dt>v0.3.1</dt>
      <dd>全部 data 搬入 vuex 做 global data</dd>
      <dt>v0.3.0</dt>
      <dd>正式 post 上 server</dd>
      <dt>v0.2.0</dt>
      <dd>新增 about 頁面</dd>
      <dt>v0.1.1</dt>
      <dd>UI 太樣衰，重設 UI，將 Menu 放去左邊</dd>
      <dt>v0.1.0</dt>
      <dd>以 Vue 初步測試版本，太多 bug 未行到</dd>
    </dl>
  </section>
</template>

<style lang="scss" scoped>
  section {
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;
    dl {
      text-align: left;
      display: grid;
      grid-template-columns: 30px 1fr;
      grid-row-gap: 20px;
      margin: 0 auto;
    }
  }

</style>
